﻿@{
    ViewData["Title"] = "File Import";
}

    <form action="Home/UploadFile" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" />
        <input type="submit" value="submit" />
    </form>



    <br/>
    <br/>
    <br/>
    <br/>

    I did not have time to style this page
