﻿@model FileImport.Model.ViewModel

@{
    ViewData["Title"] = "View";
}
<div>
    @if(Model.ValidationResult.IsValid){
     <div>  Result = @Model.result</div>
    }
    else{
        <div>  Error = @Model.ValidationResult.Messages[0].MessageText</div>
    }
  
</div>
